<!-- 
File: delete_quest_confirm.html
Author: Lance Sinson (ssinson@bu.edu), 5/1/25
Description: The html template to confirm and delete a quest from the dnd campaign manager website. 
-->
{% extends 'dnd_manager/base.html' %}

{% block subnav %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-text">
      Confirm Delete Quest
    </span>
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'quest_detail' campaign.pk object.pk%}">Cancel</a>
      </li>
    </ul>
  </div>
</nav>
{% endblock subnav %}

{% block content %}
<h2>Are you sure you want to delete "{{ object.title }}"?</h2>
<form method="POST">
  {% csrf_token %}
  <button class="btn btn-danger" type="submit">Yes, delete this quest</button>
</form>
{% endblock content %}
