<!-- 
File: create_profile_form.html
Author: Lance Sinson (ssinson@bu.edu), 3/28/25
Description: The create profile form html template for the mini_fb website. 
-->

{% extends 'mini_fb/base.html' %}

{% block content %}
<h1 class="create-profile-title">Create a Profile</h1>

<!-- display the HTML form -->

<form action="{% url 'create_profile' %}" method="POST">
    {% csrf_token %}

    <table class="create-profile-table">
        {{user_creation_form}}
    </table>

    <table class="create-profile-table">
        {{form.as_table}}
    </table>

    <input type="submit" name="submit" value="submit">
</form>
{% endblock %}