<!-- 
File: create_status_form.html
Author: Lance Sinson (ssinson@bu.edu), 2/28/25
Description: The create status form html template for the mini_fb website. 
-->

{% extends 'mini_fb/base.html' %}

{% block content %}

   
<!-- display the HTML form -->

<h1 class="create-status-title">Post a Status message for {{profile.first_name}} {{profile.last_name}} </h1>

<form method="POST">
    {% csrf_token %}
    <table class="create-status-table">
    {{form.as_table}}
    </table>

    <input type="submit" name="submit" value="submit">
</form>



{% endblock %}