<!-- 
File: show_profile.html
Author: Lance Sinson (ssinson@bu.edu), 2/28/25
Description: The show_profiles html template for the mini_fb website. 
-->

{% extends 'mini_fb/base.html' %}

{% block content %}


<div class="profile-wrapper">

    <div class="profile-image-section">

        <h1>{{profile.first_name}} {{profile.last_name}}</h1>

        <img src="{{profile.image_url}}" alt="Image of {{profile.first_name}} {{profile.last_name}}">

        <p>{{profile.city}}</p>
        <p>{{profile.email_address}}</p>
    </div>


    <div class="profile-status-section">
        <h3>Status Messages:</h3>
            <!-- message is a StatusMessage object -->
            {% for message in profile.get_status_messages %}
            <div class="status-messages">
                <strong>{{message.timestamp}}</strong>
                <p>
                    {{message.message}}
                    {% for img in message.get_images %}
                    <img src='{{img.image_file.url}}' alt='{{img.image_file.url}}'>
                    {% endfor %}
                </p>
            </div>
        {% endfor %}
    </div>

    <a href="{% url 'create_status' profile.pk%}">Create Status</a>
</div>




{% endblock %}