<!-- 
File: show_profile.html
Author: Lance Sinson (ssinson@bu.edu), 2/28/25
Description: The show_profiles html template for the mini_fb website. 
-->

{% extends 'mini_fb/base.html' %}

{% block content %}


<div class="profile-wrapper">

    <div class="profile-image-section">

        <h1>{{profile.first_name}} {{profile.last_name}}</h1>

        <img src="{{profile.image_url}}" alt="Image of {{profile.first_name}} {{profile.last_name}}">

        <p>{{profile.city}}</p>
        <p>{{profile.email_address}}</p>

        <a href="{% url 'news_feed' profile.pk %}">News Feed</a>
    </div>


    <div class="profile-status-section">
        <h3>Status Messages:</h3>
            <!-- message is a StatusMessage object -->
            {% for message in profile.get_status_messages %}
            <div class="status-messages">
                <strong>{{message.timestamp}}</strong>
                <p>
                    {{message.message}}
                </p>
                 <!-- img is a Image object -->
                {% for img in message.get_images %}
                    <img src='{{img.image_file.url}}' alt='{{img.image_file.url}}'>
                {% endfor %}
                <a href="{% url 'update_status' message.pk %}">Update</a>
                <a href="{% url 'delete_status' message.pk %}">Delete</a>
                
            </div>
        {% endfor %}
    </div>

    <div class="profile-friends">
        <h3>Friends</h3>
        <!-- loop through each friend profile -->
        {% for profile in profile.get_friends %}
        
            <div class="profile-single-friend">

                <a href="{% url 'show_profile' profile.pk %}">
                    <div class="profile-image-all">
                    <img src="{{ profile.image_url }}" alt="Image of {{profile.first_name}} {{profile.last_name}}"> 
                    </div>
                </a>
    
                <a href="{% url 'show_profile' profile.pk %}">{{ profile.first_name }} {{ profile.last_name }}</a>
                
            </div>

        {% endfor %}

        <a href="{% url 'show_friend_suggestions' profile.pk %}">Friend Suggestions</a>
    </div>

    <a href="{% url 'create_status' profile.pk %}">Create Status</a>
    <a href="{% url 'update_profile' profile.pk %}">Update Profile</a>
</div>




{% endblock %}