
{% extends 'quotes/base.html' %}
{% load static %}



{% block content %}

<h2>The GOAT of Art</h2>

<div class="about">
<h3>About</h3>
<p>Michelangelo di Lodovico Buronarroti Simoni was an Italian artist, sculptor, poet, painter, and architect 
    during the High Renaissance. He created several artworks including the famous statue of David and the icnoic 
    ceiling of the Sistine Chapel. He was considered the greatest living artist in his lifetime and even after his death, is 
    widely regarded by many as the greatest artist of all time. 
</p>
<p>
    He understood anatomy and the human body better than anyone and once painted so much he went partially blind.
    He was obsessed with art and repotedly spent upwards of 16 hours a day painting or sculpting. His artwork in the Sistine 
    Chapel, for example, took him 4 years to create, during which he had to contort his body into uncomfortable positions
    in order to paint the ceiling at the right angle. 
</p>
<p>
    Put simply, he was built different.
</p>
</div>

<h3>Artworks</h3>
    <img src="../../static/artwork1.webp" alt="Michelangelo's David">
    <img src="../../static/artwork2.jpg" alt="Sistine Chapel ceiling">
    <img src="../../static/artwork3.webp" alt="Michelangelo's Pieta">

{% endblock %}


