<!-- 
File: show_all.html
Author: Lance Sinson (ssinson@bu.edu), 2/7/25
Description: The show_all page for the quotes website. 
-->

{% extends 'quotes/base.html' %}
{% load static %} 



{% block content %}

<h2>All Quotes</h2>

<!-- Loop to display all quotes -->
{% for quote in quotes %}
    <p>"{{ quote }}"</p>
{% endfor %}


<h2>All Images</h2>

<!-- Loop to display all images -->
<div class="all_images">
    {% for image in images %}
        <img src="{{ image }}" alt="Random Image" width="200">
    {% endfor %}
</div>

{% endblock %}